.ui-menu .ui-menu-item .ui-menu.navJSON .ui-menu-item.add + .ui-menu-item.tag {
	padding-top: 0 !important;
}

.ui-menu .ui-menu-item .ui-menu.navJSON .ui-menu-item.tag > a {
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
	border-bottom: 1px solid var(--pw-border-color, hsl(214.3, 30.4%, 95.5%));
}

.ui-menu
	.ui-menu-item
	.ui-menu.navJSON
	.ui-menu-item.tag
	+ .ui-menu-item:not(.add, .separator, .tag) {
	padding-top: 0.3em;
}

/* Konkat Theme */
.AdminThemeUikitDefault .ui-menu > .ui-menu-item.add:first-child {
	margin-bottom: 0 !important;
}

.AdminThemeUikitDefault
	.ui-menu
	.ui-menu-item
	.ui-menu.navJSON
	.ui-menu-item.tag
	+ .ui-menu-item:not(.add, .separator, .tag) {
	margin-top: 5px;
	padding-top: 0.5em;
}
